
@{
    ViewData["Title"] = "Index";
}

<h1>You make an order. Let us make your day.</h1>

<h4> Add a <a asp-area="" asp-controller="Pizzas" asp-action="Index">Pizza</a>.</h4>

<h4> Add a <a asp-action="Index" asp-controller="Sides">Side</a>. </h4>