@{
    ViewData["Title"] = "Index";
}

    <div class="text-center">
        <h1 class="display-4">You make an order. Let us make your day.</h1>
        <p>Add a <a asp-area="" asp-controller="Pizzas" asp-action="Index">Pizza</a>.</p>
        <p>Add a <a asp-action="Index" asp-controller="Sides">Side</a>.</p>
    </div>
