<mat-toolbar class="kraz-red-background"> Build your Perfect Pizza</mat-toolbar>

<form [formGroup]="dynForm" (ngSubmit)="addPizza()">
    <p id="loadCrust" [hidden]="crustLoaded"> Loading crusts... </p>
    <div *ngIf="crustLoaded | async">
        <h4 > Crust </h4>
        <div *ngFor="let crust of crustList; let i = index; first as isFirst">
            <label for="radio_{{crust.name}}">
                <input id="radio_{{crust.name}}" [formControl]="dynForm.controls['crust']"
                    [value]="crust.id" type="radio" name="crust" [checked]="isFirst">
                <span class="name">{{crust.name}}</span> 
                <p class="desc">{{crust.description}}</p>
            </label>
        </div>
    </div>
    <p id="loadSauce" [hidden]="sauceLoaded"> Loading sauces... </p>
    <div *ngIf="sauceLoaded | async">
        <h4> Sauce </h4>
        <div *ngFor="let sauce of sauceList; let i = index; first as isFirst">
            <label for="radio_{{sauce.name}}">
                <input id="radio_{{sauce.name}}" [formControl]="dynForm.controls['sauce']" [value]="sauce.id" type="radio"
                    name="sauce" [checked]="isFirst">
                <span class="name">{{sauce.name}}</span>
                <p class="desc">{{sauce.description}}</p>
            </label>
        </div>
    </div>
    <p id="loadCheese" [hidden]="cheeseLoaded"> Loading cheeses... </p>
    <div *ngIf="cheeseLoaded | async">
        <h4> Cheese </h4>
        <div *ngFor="let cheese of cheeseList; let i = index; first as isFirst">
            <label for="radio_{{cheese.name}}">
                <input id="radio_{{cheese.name}}" [formControl]="dynForm.controls['cheese']" [value]="cheese.id" type="radio"
                    name="cheese" [checked]="isFirst">
                <span class="name">{{cheese.name}}</span>
                <p class="desc">{{cheese.description}}</p>
            </label>
        </div>
    </div>
    <p id="loadToppings" [hidden]="toppingsLoaded"> Loading toppings... </p>
    <div *ngIf="toppingsLoaded | async">
        <h4> Toppings </h4>
        <div *ngFor="let topping of dynForm.controls['toppings'].controls; let i = index">
            <input type="checkbox" [formControl]="topping" [checked]="false">
            <label>
                <span class="name">{{toppingsList[i].name}}</span>
                <p class="desc">{{toppingsList[i].description}}</p>
            </label>
        </div>
    </div>
    <div>
        <button mat-button class="kraz-default" type="submit" [disabled]="!allowSubmit">Add to Order</button>
    </div>
</form>
