
<nav>
<button mat-button> Home </button>

<button mat-button [matMenuTriggerFor]="Order" >Order</button>
<mat-menu #Order="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/orderpizza">Build Pizza</button>
  <button mat-menu-item> Add a Side </button>
  <button mat-menu-item routerLink="/orders" >Order History</button>
</mat-menu>

<!-- TODO <button mat-button >Tracker</button> -->

<button mat-button [matMenuTriggerFor]="afterMenu">Shopping Cart</button>
<mat-menu #afterMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/cart">View Cart</button>
  <button mat-menu-item routerLink="/checkout">Check Out</button>
</mat-menu>

<button *ngIf="!(loggedIn | async)" mat-button routerLink="/loginlanding" > Log In </button>
<button *ngIf="loggedIn | async" mat-button routerLink="/logout"> Log Out </button>

</nav>