@{
    ViewData["Title"] = "Order Success";
}

<h1>Your order has been received!</h1>
<h3>Our Master Pizza Chef is creating your order right now. </h3>
<a asp-controller="Home" asp-action="Index">Return Home</a> | 
<a asp-controller="Customers" asp-action="OrderHistory">Order History</a>