@{
    ViewData["Title"] = "Registration Successful";
}

<body>
    <div class="text-center">
        <h3>Registration Successful!</h3>
        <a asp-action="Login" asp-controller="Customers">Log In</a> | 
        <a asp-action="Index" asp-controller="Home">Back to Home</a>
    </div>
</body>