
@{
    ViewData["Title"] = "Build a Pizza";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script src="~/js/site.js"></script>
<script src="~/js/pizza.js"></script>

<div class="text-center">
    <h1 class="display-4">Build your Perfect Pizza</h1>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" style="width:20%">
        Crust
    </div>
</div>

<h4 id="headerSelect">Select your Crust</h4>
<div id="divDoStuff">
    @* @{ await Html.RenderPartialAsync("_SelectCrust", await API.GetCrusts()); }
        <h4>Select your Sauce </h4>
        @{ await Html.RenderPartialAsync("_SelectCheese"); }
        <h4>Select your Cheese</h4>
        @{ await Html.RenderPartialAsync("_SelectCheese"); }
        <h4>Select your Toppings</h4>
        @{ await Html.RenderPartialAsync("_SelectCheese"); }
        <h4>Review your Pizza</h4>
        @{ await Html.RenderPartialAsync("_SelectCheese"); }*@
</div>

<div>
    <input type="button" id="btnIWant" value="I Want This!" class="btn-primary" />
</div>

