@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Build your Perfect Pizza</h1>
</div>
<div>
    <h4>Select a Crust</h4>
    @{ await Html.RenderPartialAsync("_SelectCrust", await API.GetCrusts()); }
</div>
